# Salesforce / SFDX
.sf/
.sfdx/
.localdevserver/
deploy-options.json

# Logs & temp
*.log
manifest/.*.json

# OS / editor
.DS_Store
.idea/
.vscode/
*.swp

# Jekyll (jekyll/)
jekyll/_site/
jekyll/.jekyll-cache/
jekyll/.jekyll-metadata
jekyll/.bundle/
jekyll/vendor/
